@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--core-text-hex: #2f2f2f;
	--core-select: #98abee55;
}

body {
	color: var(--core-text-hex);
}

::selection {
	background-color: var(--core-select);
}
